#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#divider {
  height: 2px;
  width: 100%;
  background-color: lightgrey;
}

p {
  font-size: 25px;
  font-family: "Avenir Next";
  text-align: center;
  color: #e64693;
}
