.btns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter button {
  padding: 1em;
  margin: 1rem;
  width: 30%;
  max-width: 150px;

  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
    0 6px 6px rgba(0, 0, 0, 0.18);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.18);

  background-color: #e64693;
  color: white;
  font-family: "Avenir";
  font-size: 1em;
  text-align: center;
  transition: 0.3s all ease-in-out;
}

.counter button:active {
  transform: scale(0.7);
}
