* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: sans-serif;
}

.containter {
  /* background-color: #ff0000; */
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  margin: 50px auto;
  position: relative;
  width: 825px;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background: #f7f7f7;
  font-size: 22px;
  padding: 10px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
}
.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
}
.sale {
  color: #fff;
  background-color: #c50404;
  /* display: inline-block; */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  position: absolute;
  top: -17px;
  left: -35px;
}

.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.more-info {
  margin-bottom: 25px;
  display: inline-block;
}

.color-black {
  background-color: #000000;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}
.color-blue {
  background-color: #0000ff;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}
.color-red {
  background-color: #cb0b0b;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}
.color-yellow {
  background-color: #ffff00;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}
.color-green {
  background-color: #008000;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}
.color-brown {
  background-color: #deb887;
  display: inline-block;
  width: 22px;
  height: 22px;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;

  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}
.add-cart:hover {
  color: #000;
  background: #fff;
}

/* FLOATING LAYOUT */
.product-img {
  float: left;
  margin-right: 40px;
}
.product-info {
  float: left;
  width: 243px;
  margin-right: 40px;
}
.details {
  margin-top: 20px;
  float: right;
  width: 243px;
}
.price {
  float: left;
  padding-top: 10px;
  margin-bottom: 10px;
}
.shipping {
  float: right;
  padding-top: 15px;
}
.product-description {
  clear: both;
  margin-bottom: 10px;
}
